<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/hero"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/listen-section"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/about-dad"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/ed-features"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/ed-episodes"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/ed-quote"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/store-teaser"} /-->

<!-- wp:pattern {"slug":"equestrian-theme/ed-newsletter"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:post-content {"layout":{"type":"constrained"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"equestrian-footer"} /-->


