<!-- wp:template-part {"slug":"equestrian-header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:56px;padding-bottom:72px">
	<!-- wp:group {"className":"container"} -->
	<div class="wp-block-group container">
		<!-- wp:woocommerce/store-notices /-->
		<!-- wp:post-title {"level":1,"className":"display"} /-->
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"equestrian-footer"} /-->