<!-- wp:template-part {"slug":"equestrian-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:56px;padding-bottom:72px">
    <!-- wp:group {"className":"container"} -->
    <div class="wp-block-group container">
        <!-- wp:post-title {"level":1,"className":"display"} /-->
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"equestrian-footer"} /-->